* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
}

body, html {
  height: 100%;
}

.container {
  background: url('1000405804.jpg') no-repeat center center/cover;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-box {
  background: rgba(34, 25, 25, 0.4);
  border-radius: 15px;
  padding: 40px;
  width: 350px;
  color: #fff;
  box-shadow: 0 0 10px rgba(27, 206, 116, 0.6);
  backdrop-filter: blur(8px);
}

.login-box h2 {
  text-align: center;
  margin-bottom: 20px;
  font-weight: bold;
}

.input-box {
  position: relative;
  margin-bottom: 20px;
}

.input-box input {
  width: 100%;
  padding: 12px 35px 12px 15px;
  border: none;
  border-radius: 25px;
  outline: none;
  background: rgba(255, 255, 255, 0.2);
  color: #fff;
}

.input-box .icon {
  position: absolute;
  right: 15px;
  top: 12px;
  pointer-events: none;
}

.options {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  margin-bottom: 20px;
}

.login-btn {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 25px;
  background: #fff;
  color: #0dcea4;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.login-btn:hover {
  background: #ddd;
}

.register-link {
  text-align: center;
  margin-top: 15px;
  font-size: 14px;
}

.register-link a {
  color: #fff;
  font-weight: bold;
  text-decoration: none;
}
